@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles */
body {
  background-color: #0a0a0a; /* neutral-950 */
  color: #f5f5f5; /* neutral-100 */
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #3f3f46; /* neutral-700 */
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background-color: #171717; /* neutral-900 */
}